@font-face {
    font-family: 'soraregular';
    src: url('./CustomFont/sora-variablefont_wght-webfont.woff2') format('woff2'),
         url('./CustomFont/sora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsblack';
    src: url('./CustomFont/poppins-black-webfont.woff2') format('woff2'),
         url('./CustomFont/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('./CustomFont/poppins-light-webfont.woff2') format('woff2'),
         url('./CustomFont/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    font-family: "poppinslight" ,"soraregular", sans-serif;   
    margin: 0; 

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21262D;
    padding: 0 16px;
}

.content {
    display: flex;
    flex: 1 0 auto;
    background-color: #0D1117;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21262D;
    padding: 16px;
}

.left-links{
    display: flex;
    gap: 16px;
}
 
a {
    text-decoration: none;
    color: #7371FF;
}

h1 {
    color: #FFFFFF;
}