html{
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

#board{
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: gray;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    gap: 8px;
    padding: 12px;
}

.slot{
    background-color: black;
}