body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 40vw;
}

#searchBar{
    flex: 3;
}

#searchButton{
    flex: 1;
}

#weatherReport{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.2fr;
}

#info{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap: 8px;
}

#description{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

#description > h4{
    margin-bottom: 0;
}

#resolvedElement{
    grid-row: 1;
    grid-column: 1/-1;
}

#weatherIcon{
    width: auto;
    height: 80px;
}

#tempBtns{
    display: flex;
}

#tempElement{
    margin-top: 10px
}

#subInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

#subInfo > h5{
    margin-bottom: 0;
}

#weatherElement{
    margin-top: 10px;
    margin-bottom: 0;
}

#alerts{
    grid-column: 1;
    grid-row: 3;
}