*{
    background-color: #2f4d46;
    color: #eb9f51;
    font-family: serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #be7063;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    background-color: #be7063;
    margin-right: 20px;
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.recipeImage{
    width: auto;
    height: 200px;
}

#boatImage{
    width: auto;
    height: 100px;
}