body{
    background: repeating-linear-gradient(
        45deg,
        rgb(95, 25, 25),
        #471010 10px,
        rgb(95, 25, 25) 10px,
        #471010 20px
    );
    width: 100vw;
    height: 100vh;
}

main{
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 30vw;
}

#display{
    width: 60%;
    height: 20%;
    border: solid black 1px;
    margin: 20%;
    background-color: rgb(219, 219, 197);
}

#buttons{
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5%;
    margin-bottom: 10%;
}

button{
    width: 18%;
    height: 23%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgb(245, 245, 220);
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(95, 25, 25);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

button:active{
    background-color: rgb(219, 219, 197);
}

#equals{
    width: 38%;
}


@media screen and (min-width: 1800px){
    main{
        width: 28vw;
    }
}

@media screen and (max-width: 1600px){
    main{
        width: 31vw;
    }
}

@media screen and (max-width: 1500px){
    main{
        width: 35vw;
    }
}

@media screen and (max-width: 1360px){
    main{
        width: 40vw;
    }
}

@media screen and (max-width: 1200px){
    main{
        width: 45vw;
    }
}

@media screen and (max-width: 1020px){
    main{
        width: 50vw;
    }
}

@media screen and (max-width: 1000px){
    main{
        width: 55vw;
    }
}
@media screen and (max-width: 840px){
    main{
        width: 60vw;
    }
}

@media screen and (max-width: 760px){
    main{
        width: 70vw;
    }
}

@media screen and (max-width: 670px){
    main{
        width: 80vw;
    }
}
@media screen and (max-width: 600px){
    main{
        width: 90vw;
    }
}

@media screen and (max-width: 520px){
    main{
        width: 98vw;
        margin: 0;
    }
    body{
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 450px){
    main{
        padding: 0;
    }
    #buttons{
        padding: 0;
        width: 90%;
    }
}