.hidden{
    display: none;
}

#gridContent.blur{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d1fae5;
    height: 100%;
}

#gridContent{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
}

header{
    grid-column: 2;
    grid-row: 1;
    background-color: white;    
    box-shadow: 0 5px 5px 0 #8f8f8f;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

header h1{
    align-self: flex-start;
    font-size: 2.1rem;
}

#search{
    flex-grow: 1;
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
    height: 35px;
    border: none;
    font-size: large;
    margin: 0 30px;
    padding: 0 15px;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #047857;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0 0 20px;
    gap: 10px;
    font-size: 15px;
}

.logo svg{
    width: clamp(50px, 4.5vw, 100px);
    fill: white;
}

.navLinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    padding: 30px 40px 30px 20px;
    flex-grow: 1;
}

.navLinks svg{
    fill: white;
    width: clamp(40px, 2.8vw, 80px);
}

.navLinks li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
} 

.navLinks li:hover{
    background-color: grey;
}

button{
    background-color: #047857;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 70px;
    width: 120px;
    height: 50px;
    border: none;
    align-self: center;
    font-size: .92em;
    font-weight: 130;
}

button:hover{
    background-color: #0d614b;  
}

.content{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: min-content;
    gap: 48px;
    padding: 24px;
}

.card{
    background-color: white;
    display: grid;
    grid-template-columns: .05fr .95fr;
    grid-template-rows: 2fr 1fr;
    margin: 3px;
    border-radius: 15px;
    height: 200px;
    width: 100%;
}

.card p{
    font-size: 1.2em;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
    padding: 16px;
    color: rgb(33, 33, 33);
}

.orange{
    background-color: orangered;
    height: inherit;
    grid-row: 1 / -1;
    grid-column: 1;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.icons svg{
    width: 40px;
}

.card .icons{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin: 16px;
}

.edit:hover{
    fill: blue;
}

.delete:hover{
    fill: red;
}

.shadow{
    box-shadow: 4px 4px 4px grey;
}

form{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

form h2{
    margin-top: 0;
}

.close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close svg{
    width: 30px;
    fill: black;
}

.close svg:hover{
    fill: grey;
}

@media screen and (max-width: 1900px) {
    .content{
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: min-content;
        gap: 12px;
        padding: 12px;
    }

    .card{
        height: 150px;
    }
    
    .card p{
        font-size: 1em;
        padding: 16px;
    }
    
    .icons svg{
        width: 30px;
    }
    
    .card .icons{
        gap: 16px;
        margin: 0 16px 16px 0;
    }
}