.hidden{
    display: none;
}

body, html{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d1fae5;
}

#gridContent{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

header{
    grid-column: 2;
    grid-row: 1;
    background-color: white;    
    box-shadow: 0 5px 5px 0 #8f8f8f;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

header h1{
    align-self: flex-start;
    margin-left: 30px;
    font-size: 2.3rem;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #047857;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0 30px 20px;
    gap: 10px;
    font-size: 15px;
}

.logo svg{
    width: clamp(50px, 4.5vw, 100px);
    fill: white;
}

.navLinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    padding: 30px 40px 30px 20px;
}

.navLinks svg{
    fill: white;
    width: clamp(40px, 2.8vw, 80px);
}

.navLinks li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
} 

.navLinks li:hover{
    background-color: grey;
}

button{
    background-color: #047857;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 70px;
    width: 120px;
    height: 55px;
    border: none;
    align-self: center;
}

button:hover{
    background-color: #0d614b;  
}

.content{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: min-content;
    margin-right: 12px;
    gap: 8px;
    height: 100%;
    width: 100%;
}

.card{
    background-color: white;
    display: grid;
    grid-template-columns: .02fr .98fr;
    grid-template-rows: 5fr 1fr;
    margin: 3px;
    border-radius: 15px;
    height: 200px;
    width: 350px;
}


.card p{
    font-size: .75em;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
    padding: 0 5px;
    color: rgb(33, 33, 33);
}

.orange{
    background-color: orangered;
    height: inherit;
    grid-row: 1 / -1;
    grid-column: 1;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.card svg{
    width: clamp(25px, 1.7vw, 40px);
}

.card .icons{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-right: 16px;
}

.card .icons svg:hover{
    fill: #4b4b4b;
}

.shadow{
    box-shadow: 4px 4px 4px grey;
}