/*Emerald color pattern from Tailwind*/
body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    background-color: #d1fae5;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    grid-column: 2;
    background-color: white;    
    box-shadow: 0 5px 5px 0 #8f8f8f;
}   

.sidebar{
    background-color: #047857;
    grid-column: 1;
    grid-row: 1 / -1;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 20px;
    gap: 10px;
    font-size: 15px;
}

.logo svg{
    width: clamp(50px, 4.5vw, 100px);     /*Consider changing svgs to static sizes rather than dynamic*/
}

.navLinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    padding: 30px 40px 30px 40px;
}

.navLinks svg{
    fill: white;
    width: clamp(30px, 2vw, 45px);
}

.navLinks li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
} 

.navLinks li:hover{
    background-color: grey;
}