table {
    border-collapse: collapse;  /*prevents double borders*/
    border: 2px solid black;
}
td, th {
    border: 1px solid gray;
    padding: 8px;
}
.header{
    text-align: center;
}
.startGameButton{
    width: 400px;
    height: 100px;
    margin: 120px;
}
.content{
    margin: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gameplayButtons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gameplayResults{
    display: flex;
    flex-direction: column;
}
.selectionButton{
    display: none;  
}
.tableContainer{
    display: none;
}
#playerDisplay{
    display: none;
}
#computerDisplay{
    display: none;
}
#results{
    display: none;
}
