body{
    display: flex;
    justify-content: center;
}
.gameplayButtons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gameplayResults{
    display: flex;
    flex-direction: column;
}
.selectionButton{
    display: none;  
}
#playerDisplay{
    display: none;
}
#computerDisplay{
    display: none;
}
#results{
    display: none;
}
