body {
    background: linear-gradient(rgba(3, 204, 244, 0.507), rgba(2, 18, 247, 0.5)), url('your-image.jpg');
    background-size: cover;
    margin: 0;  
    padding: 0;       
    height: 100vh;    /* Set height to 100% of the viewport height */
    width: 100%;  
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
}
td, th {
    border: 1px solid gray;
    padding: 8px;
}
.header{
    text-align: center;
}
.startGameButton{
    width: 400px;
    height: 100px;
    margin: 120px;
}
.content{
    margin: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gameplayButtons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gameplayResults{
    display: flex;
    flex-direction: column;
}
.selectionButton{
    display: none;  
}
.tableContainer{
    display: none;
}
#playerDisplay{
    display: none;
}
#computerDisplay{
    display: none;
}
#results{
    display: none;
}
